#canvas{
    background: rgb(0, 0, 0);
}

button:hover{
    cursor: pointer;
    background-color: #006400;
}

button:active{
    background-color: lightgreen;
}

button:disabled{
    background-color: lightgray;
    cursor: default;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 70px;
    block-size: 30px;
    background-color: green;
    border: none;
    font-size: 24px;
    border-radius: 5px;
    margin: 2px;
    content: '▲';
}

.set_data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-inline-size: 1600px;
}

.set_font, .set_delay, .set_tail {
    display: flex;
    align-items: center;
}

.font_size, .delay_size, .tail_size{
    display: inline-block;
    color: #006400;
    margin-inline-end: 10px;
    block-size: 35px;
    font-size: 34px;
    border: 1px,solid, #0f05;
}