*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #a6c49d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

html { 
    overflow:  hidden; 
}

#canvas{
    position: absolute;
    background: rgb(0, 0, 0);
    inline-size: 100%;
    block-size: 100vh;
}

button:hover{
    cursor: pointer;
    background-color: #006600;
}

button:active{
    background-color: #90ee90;
}

button:disabled{
    background-color: lightgray;
    cursor: default;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 70px;
    block-size: 30px;
    background-color: #00800070;
    border: none;
    font-size: 24px;
    border-radius: 5px;
    margin: 2px;
    content: '▲';
   border: 2px solid #90ee9090;
}

.wrapper{
 position: absolute;
 display: flex;
 inline-size: 100%;
 justify-content: space-evenly;
 inset-block-start: calc(100vh - 100px);
}

.set_data{
    position: relative;
    inline-size: 100%;
    block-size: 100%;
}

.set_font, .set_delay, .set_tail {
    display: flex;
    align-items: center;
    -webkit-text-stroke: 2px #90ee9090;
}

.font_size, .delay_size, .tail_size{
    display: inline-block;
    color: #008000;
    margin-inline-end: 10px;
    block-size: 35px;
    font-size: 34px;
    border: 1px,solid, #0f05;
}